<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myconsultamedica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyConsultaMedica">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Cadastro_consulta_medico"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Agendamentos_paciente"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Agendamentos_medico"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Consultas_paciente"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Consultas_medico"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Dados_paciente"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Dados_medico"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Principal_paciente"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Principal_medico"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Cadastro_medico"
            android:exported="false" />
        <activity
            android:name=".ui.subcriber.Cadastro_paciente"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>